:root {
  --primary-color: #fafafa;
  --secondary-color: #222831;
  --box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  --font: "Roboto", sans-serif;
}

.hero {
  background-image: url(../images/lap\ pic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
  text-align: center;
  background-color: black;
}
h1 {
  color: var(--primary-color);
  font-size: 96px;
  font-family: var(--font);
}
h2 {
  color: var(--primary-color);
  font-family: var(--font);
}
.hi {
  margin-top: 60px;
  font-size: 35px;
}
.aspiring {
  margin-top: 250px;
}
.contact-button {
  margin-top: 25px;
}
.btn {
  padding: 20px 30px;
  font-size: 20px;
  font-family: var(--font);
}
.pagebreak {
  padding: 30px;
  text-align: center;
  font-family: var(--font);
}
.bcoin,
.weatherA,
.exerciseHeading {
  text-align: center;
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--font);
}
.bcoin {
  margin-top: 70px;
}
.bcoin-about,
.weatherApp,
.exercise-info {
  font-size: 16px;
  opacity: 0.7;
  font-family: var(--font);
}
.software {
  font-size: 12px;
  opacity: 0.7;
  font-family: var(--font);
}
.bc-pic {
  box-shadow: var(--box-shadow);
  padding: 15px;
  margin-top: 45px;
  margin-right: 50px;
  height: 500px;
  max-width: 100%;
}
.bc-pic:hover {
  transform: scale(1.05);
}
.weather-pic:hover {
  transform: scale(1.05);
}
.yoga-project:hover {
  transform: scale(1.05);
}
.tools {
  list-style: none;
}
.bc-button,
.weather-button,
.exercise-button {
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 20px;
  font-family: var(--font);
}
.bc-button {
  border: 2px solid #7890a6;
  background-color: #7890a6;
}
.weatherA {
  margin-top: 170px;
}
.weather-pic {
  margin-top: 150px;
  box-shadow: var(--box-shadow);
  padding: 15px;
  max-width: 100%;
}
.weatherApp {
  margin-top: 50px;
}
.weather-button {
  border: 2px solid #71942c;
  background-color: #71942c;
  margin-top: 40px;
}
.exerciseHeading {
  margin-top: 130px;
}
.exercise-button {
  border: 2px solid #6c63ff;
  background-color: #6c63ff;
  margin-top: 40px;
  color: white;
}
.yoga-project {
  height: 500px;
  margin-top: 100px;
  max-width: 100%;
  box-shadow: var(--box-shadow);
  padding: 15px;
}
.exercise-info {
  margin-top: 50px;
}
.social-media-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  margin: 90px;
  color: black;
}

@media (max-width: 576px) {
  h1 {
    font-size: 56px;
    margin-top: 30px;
  }
  .btn {
    padding: 15px 20px;
  }
  .aspiring {
    margin-top: 220px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .weather-pic,
  .yoga-project,
  .bc-pic {
    display: none;
  }
  .bc-button,
  .weather-button,
  .exercise-button {
    display: flex;
    justify-content: center;
  }
  .bcoin-about,
  .exercise-info,
  .weatherApp {
    text-align: center;
  }
  ul {
    text-align: left;
  }
}
@media (max-width: 1050px) {
  .weather-pic,
  .yoga-project,
  .bc-pic {
    width: 350px;
    height: 300px;
    margin-top: 180px;
  }
  .weather-pic {
    margin-top: 230px;
  }
}
.about-page {
  background-color: #212529;
}

.abouthero {
  margin-top: 130px;
}
.name {
  color: white;
  font-size: 70px;
  font-weight: bolder;
}

.aboutpara {
  color: white;
  border-color: white;
}
.viewprojects {
  margin-top: 50px;
}
.viewprojects:hover {
  border-color: white;
  background-color: #212529;
  color: white;
}

.work {
  color: white;
  font-size: 50px;
  margin-top: 100px;
  text-align: right;
  font-weight: bold;
}
.cBut {
  padding: 20px 50px;
  display: block;
}
.cBut:hover {
  border-color: white;
  background-color: #212529;
  color: white;
}
.skills {
  color: white;
  text-align: center;
}
.skillsheading {
  font-size: 45px;
  font-weight: bold;
  margin-top: 25px;
}
hr {
  color: white;
  margin-top: 40px;
}
.icons {
  border-radius: 10px;
}

.aboutlinks {
  color: white;
}
@media (max-width: 576px) {
  .about-page {
    max-width: 95%;
    margin: 10px;
  }
  .abouttext {
    text-align: center;
  }
  .name {
    font-size: 45px;
  }
  .work {
    text-align: center;
    margin: 30px 10px;
    font-size: 30px;
    flex-wrap: wrap;
  }
  .cBut {
    display: inline-block;
    margin-top: 20px;
  }
  .skills {
    color: white;
  }
}
@media (max-width: 1200px) {
  .profpic {
    margin-top: 130px;
  }
  .work {
    font-size: 30px;
  }
  .cBut {
    padding: 10px 30px;
  }
  .skillsheading {
    font-size: 30px;
  }
}
.recent {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.bcoin-work {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.btitle {
  margin-top: 10px;
}
.bcpic {
  margin-top: 10px;
}
.bbut {
  margin-bottom: 10px;
}
.weaapp {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}
.weapic {
  margin-top: 10px;
}
.weatitle {
  margin-top: 10px;
}
.exerproject {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}
.exerpic {
  margin-top: 10px;
}
.exerhead {
  margin-top: 15px;
}
@media (max-width: 1200px) {
  .exerpic,
  .weapic,
  .bcpic {
    margin-top: 80px;
  }
}
.contactdetails {
  color: white;
  text-align: center;
}
.Contactheading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.email,
.linkedin,
.github {
  color: #ff347f;
  font-size: 50px;
  margin-top: 20px;
}
.emailadd,
.linkedinurl,
.githubadd {
  font-size: 20px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #ff347f;
}
a:hover {
  color: #c9356c;
}
.indexlinksl,
.indexlinkse,
.indexlinksg {
  color: black;
}
